# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [11]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [12]:
# Run this code:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [9]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Challenge 2
This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

# Challenge 3 - Constructing Confidence Intervals

We will test whether the hourly wage of all hourly workers is significantly different from $30/hr.

In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. Is $30/hr within that interval?

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [14]:
wages = salaries['Hourly Rate']
mean_wage = wages.mean()
std_wage = np.std(wages, ddof= 1)
n = len(wages)
std_error = std_wage / np.sqrt(n)

ci = t.interval(0.95, df = n - 1, loc = mean_wage, scale = std_error)

print(ci) #The mean hour is significantly different than $30/h

(32.65822828339105, 32.918887149169414)

This is fine if we have thousands of worker data. But what if we have only 100 workers data?

Sample 100 workers and re-construct the 95% confidence interval. Is the interval wider of narrower? And why?
Do you still encapsulate the $30/hr mark in this case?

In [18]:
# Your code here
sample_wages = wages.sample(100)
mean_sample_wages = sample_wages.mean()
std_sample_wage = np.std(sample_wages, ddof= 1)
n = len(sample_wages)
std_error_sample_wages = std_sample_wage / np.sqrt(n)

ci_sample = t.interval(0.95, df = n - 1, loc = mean_sample_wages, scale = std_error_sample_wages)

print(ci_sample)

'''The interval is wider, because with a sample I cannot have a so precise range where the $30/hr will fall, like I used with the whole dataset.
If I increase the confidence I want, the range must increase as well.
The $30 will ramdomly fall in the interval depeding on the sample I get'''

(27.44535079074585, 33.04160573099328)

'The interval is wider, because with a sample I cannot have a so precise range where the $30/hr will fall, like I used with the whole dataset. \nThe $30 will ramdomly fall in the interval depeding on the sample I get'